body {
  background-image: url(/images/BeerCooler.jpg);
  background-size: cover;
  width: 100vw;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

/*Styling for the header*/

header {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
}
#order {
  font-size: 32px;
  color: #D95C02;
  margin-left: 30px;
}
#zip {
  font-size: 32px;
  color: white;
}
.link {
  display: flex;
  font-size: 16px;
  color: white;
}
a {
  text-decoration: none;
}
