<div id="infoPage">
  <h1 class="first">What Is OrderZip?</h1>
  <div id="explanation">
    OrderZip is a webapp that creates automated orders for field reps in a retail environment. It generates orders based on historical sales data and the shelf life of the products in question. OrderZip will allow field reps to more quickly and accuratly tailor orders for accounts based on the collected data form previous visits.
  </div>
  <h1 class="second">Why Use OrderZip</h1>
  <div>
    <ul>
      <li>Allows for faster and more accurate order creation.</li>
      <li>Holds retailers accountable for sales and display standards.</li>
      <li>Prevents waste of product by reducing the write off of old product.</li>
      <li>Supports proper inventory management based on SKU velocity.</li>
    </ul>
  </div>
  <a href="?#/mockup"><button>View Mock Up</button></a>
</div>
