<div id="infoPageContainer">
  <h1 id="infoTitle">Info</h1>
  <h1>Hello <span class="orange">Go</span>SpotCheck</h1>
  <hr align="left">
  <p>Welcome to my Capstone Project Demo. OrderZip will automate the ordering process for Beer Distributor Field Reps. It designed to eliminate inefficiencies and flaws with the current order process of Beer Distributors.</p>

  <h1>Why <span class="orange">Order</span>Zip?</h1>
  <hr align="left">
  <p>Currently the order process for Beer Distributor field reps is arduous and inaccurate. Reps are often influenced by Sales Incentives and difficult retailers to place order quantities that don’t align with sales data. Retailers often purchase deal levels based on what they can afford despite what they actually sell. These inaccuracies in human judgement can be costly to a distributor of perishable goods. OrderZip automates the order, and determines quantity and pricing based on sales data already being collected by the company.</p>

  <h1>What Problems Does <span class="orange">Order</span>Zip Solve?</h1>
  <hr align="left">
  <ul>
    <li>Order quantities are automated and based on historical data eliminating human error or poor discretion.</li>
    <li>Correct order quantity reduces old beer costs and rotational issues, increasing profit.</li>
    <li>Pricing is based on a retailer's capacity to sell product, not purchase it or store it.</li>
    <li>It incentivizes the retailer to feature displays, participate in sales and offer premium shelf space. If they want better pricing they must improve the SKU Velocity of that item.</li>
    <li>It gives field reps more time to sell. Without having to put together an order they can put more focus on servicing the account.</li>
  </ul>
</div>
