<div>
  <h1><span class="first">Mock</span> <span class="second">Up</span></h1>
  <h2>Franks Liquor Depot</h2>
  <table>
    <tr>
      <th id="package">Package</th>
      <th>Inventory 8/1/16</th>
      <th>Inventory 8/1/16</th>
      <th>Inventory 8/1/16</th>
      <th>Inventory 8/1/16</th>
      <th>Current Inventory</th>
      <th>Order Quantity</th>
    </tr>
    <tr>
      <td>Coors Light 12pk Can</td>
      <td>32</td>
      <td>30</td>
      <td>25</td>
      <td>22</td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Coors Banquet 12pk Can</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Coors Light 24pk Can</td>
      <td>40</td>
      <td>34</td>
      <td>29</td>
      <td>20</td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Coors Banquet 24pk Can</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>12</td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
  </table>

</div>
