  <div id="userstoriesTitle">
    <span id="user">User</span><span id="stories">Stories</span>
    <p>User Stories are Imported from the Pivotal Tracker API. To see these stories in Pivotal Tracker click <a href="https://www.pivotaltracker.com/n/projects/1786315"><strong>here</strong></a>.</p></h5>
  </div>

  <div class="storyContainers" ng-repeat="story in view.storySet">
    <div class="storyScore">
      <div class="storyDiv">{{ story.name }}</div>
      <div class="scoreDiv">Score: {{ story.estimate }}</div>
    </div>
    <hr align="left">
    <ul ng-repeat="task in story.tasks">
      <li>{{ task.description }}</li>
    </ul>
  </div>
